@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}
#Keyboard-shop{
    background-color: rgb(21, 41, 58);
    overflow-x: hidden;
}

.pr-header{
    height: 10vh;
    width: 100%;
}

.navbar{
    padding: 15px 18px !important;
}

.pr-logo{
    font-weight: 900;
    font-size: 30px;
    color: rgba(183, 140, 252, 0.8) !important;
}

.nav-item{
    margin: 0px 10px;
}

.nav-item .nav-link {
    color: rgba(255, 255, 255, .9);
    font-size: 22px;
    font-weight: 500;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0px;
    background-color: rgb(151, 63, 36);
    width: 0%;
    height: 3px;
    transition: .4s ease-in-out;
}

.nav-item:hover .nav-link::after {
    width: 100%;
}

.nav-link:hover {
    color: rgb(30, 180, 255);
}

.btn-navbar{
    display: inline-block;
    padding: 10px 40px;
    border: 1px solid rgb(30,180, 255);
    color: white;
    border-radius: 50px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(69, 42, 219);
    transition: .2s ease;
}

.btn-navbar:hover{
    background-color: rgb(51, 78, 102);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(151, 63, 36);
}

.pr-about-us-container{
    width: 100%;
    height: 80vh;
}

.pr-about-us{
    width: 100%;
    height: 320px;
    background-color: rgb(9, 46, 78);
    margin-top:200px ;
    position: relative;
}
.pr-content-about{
    padding:10px 38px;
}

.pr-heading-about{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    color:  rgb(151, 63, 36);
    margin: 10px 0px;
    margin-bottom: 34px;
    position: relative;

}

.pr-heading-about::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -8px;
    background-color: aquamarine;
    width: 46px;
    height: 2px;

}

.pr-pershkrim{
    font-size: 13px;
    font-weight: 500;
    color: aliceblue;
    line-height: 21px;
    margin: 25px 0px;
}

.pr-link-about {
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid rgb(151, 63, 36);
    color: rgb(151, 63, 36);
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    padding: 8px 22px;
    position: relative;
    z-index: 22;
}

.pr-link-about:hover .pr-span-about {
    width: 100%;
}

.pr-link-about:hover {
    color: aliceblue;
}

.pr-span-about {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(151, 63, 36);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: width 0.4s ease-in;
}

.fa-arrow-right{
    color: rgb(151, 63, 36);
    font-size: 10px;
    margin-left: 5px;
}

.fa-arrow-right:hover{
    color: white;
}

.img-about{
    height: 420px;
    width: 50%;
    position: absolute;
    top: -36px;
    right: 20px;
}

@media (max-width:1200px){
    .pr-about-us{
        height: 360px;
    }

}
@media (min-width: 993px) and (max-width: 1200px) {
    .navbar-nav .nav-link {
      font-size: 15px; 
      font-weight: bold;
    }
  }

  @media (max-width:993px){
    .pr-about-us{
        height: 450px;
    }
    .pr-pershkrim{
        font-size: 12px;
    }
  }

  @media (max-width:767px){
    .img-about{
        display: none;
    }
  }

  @media (max-width:346px){
    .pr-about-us{
         height: 650px;
    }
  }