@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#Keyboard-shop {
    background-color: rgb(21, 41, 58);
    overflow-x: hidden;
}

/*header start*/

.pr-header {
    height: 8vh;
    width: 100%;
}

.navbar {
    padding: 15px 18px !important;
    z-index: 2;
}
.navbar-nav{
    background-color: rgb(21, 41, 58);
    padding: 15px 15px 15px 15px;
}
.navbar-toggler {
    background-color: rgba(183, 140, 252, 0.8) !important; 
}
.pr-logo {
    font-weight: 900;
    font-size: 30px;
    color: rgba(183, 140, 252, 0.8) !important;
}

.nav-item {
    margin: 0px 10px;
}

.nav-item .nav-link {
    color: rgba(255, 255, 255, .9);
    font-size: 22px;
    font-weight: 500;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0px;
    background-color: rgb(151, 63, 36);
    width: 0%;
    height: 3px;
    transition: .4s ease-in-out;
}

.nav-item:hover .nav-link::after {
    width: 100%;
}

.nav-link:hover {
    color: rgb(30, 180, 255);
}

.btn-navbar {
    display: inline-block;
    padding: 10px 40px;
    border: 1px solid rgb(30, 180, 255);
    color: white;
    border-radius: 50px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(69, 42, 219);
    transition: .2s ease;
}

.btn-navbar:hover {
    background-color: rgb(51, 78, 102);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(151, 63, 36);
}

/*header start*/

/*main start*/

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}


.pr-table {
    text-align: center;
    padding-top: 50px;
}

.pr-table h2 {
    color: orange;
}

.pr-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid rgb(77, 67, 209);
}

.pr-table th,
.pr-table td {
    border: 1px solid #3d75dd;
    text-align: left;
    padding: 8px;

}

.pr-table th {
    background-color: rgb(19, 112, 194);
}

.pr-table thead {
    background-color: rgb(21, 41, 58);
}

/*main end*/
