@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#Keyboard-shop{
    background-color: rgb(21, 41, 58);
    overflow-x: hidden;
}

.pr-header{
    height: 10vh;
    width: 100%;
}

.navbar{
    padding: 15px 18px !important;
}

.pr-logo{
    font-weight: 900;
    font-size: 30px;
    color: rgba(183, 140, 252, 0.8) !important;
}

.nav-item{
    margin: 0px 10px;
}

.nav-item .nav-link {
    color: rgba(255, 255, 255, .9);
    font-size: 22px;
    font-weight: 500;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0px;
    background-color: rgb(151, 63, 36);
    width: 0%;
    height: 3px;
    transition: .4s ease-in-out;
}

.nav-item:hover .nav-link::after {
    width: 100%;
}

.nav-link:hover {
    color: rgb(30, 180, 255);
}

.btn-navbar{
    display: inline-block;
    padding: 10px 40px;
    border: 1px solid rgb(30,180, 255);
    color: white;
    border-radius: 50px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(69, 42, 219);
    transition: .2s ease;
}

.btn-navbar:hover{
    background-color: rgb(51, 78, 102);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(151, 63, 36);
}

.content-home2{
    height: 90vh;
    width:100% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pr-cringecatchphrase{
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    
}

.pr-home-span{
    color:rgb(64, 126, 197);
}

.pr-pershkrim{
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, .4);
    max-width: 4;
}

.pr-home-links{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid rgb(30,180, 255);
    background-color: rgb(69, 42, 219);
    margin: 20px 0px;
    margin-right: 7px;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 10px;
    font-weight: 600;
    transition: .3s ease;
}



.pr-home-links:hover{
    background-color: transparent;
    color: rgb(151, 63, 36);
    border: 1px solid rgb(151, 63, 36);
}

.pr-img-home{
  margin-right: 20px;
  width: 730px;  
}


@media (min-width: 993px) and (max-width: 1200px) {
    .navbar-nav .nav-link {
      font-size: 15px; 
      
    }
  }
@media (max-width:300px){
    .pr-pershkrim{
        font-size: 12px;
    }
}