*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#Keyboard-shop{
    background-color: rgb(21, 41, 58);
    overflow-x: hidden;
}

/*header start*/

.pr-header{
    height: 10vh;
    width: 100%;
}

.navbar{
    padding: 15px 18px !important;
}
.navbar-nav{
    background-color: rgb(21, 41, 58);
    padding: 15px 15px 15px 15px;
}
.navbar-toggler {
    background-color: rgba(183, 140, 252, 0.8) !important; 
}
.pr-logo{
    font-weight: 900;
    font-size: 30px;
    color: rgba(183, 140, 252, 0.8) !important;
}

.nav-item{
    margin: 0px 10px;
}

.nav-item .nav-link {
    color: rgba(255, 255, 255, .9);
    font-size: 22px;
    font-weight: 500;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0px;
    background-color: rgb(151, 63, 36);
    width: 0%;
    height: 3px;
    transition: .4s ease-in-out;
}

.nav-item:hover .nav-link::after {
    width: 100%;
}

.nav-link:hover {
    color: rgb(30, 180, 255);
}

.btn-navbar{
    display: inline-block;
    padding: 10px 40px;
    border: 1px solid rgb(30,180, 255);
    color: white;
    border-radius: 50px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(69, 42, 219);
    transition: .2s ease;
}

.btn-navbar:hover{
    background-color: rgb(51, 78, 102);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(151, 63, 36);
}

/*header end*/

/*main start*/

.fa-arrow-right{
    color: rgb(151, 63, 36);
    font-size: 10px;
    margin-left: 5px;
}

.fa-arrow-right:hover{
    color: white;
}

.pr-product-category{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 4px;
}

.pr-heading-product{
    font-size: 30px;
    color: rgb(151, 63, 36);
    margin-bottom: 120px;
    position: relative;
}

.pr-heading-product::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -8px;
    background-color: rgb(151, 63, 36);
    width:55px ;
    height: 2px;
}
.pr-card-product{
    padding: 13px 10px;
    background-color: rgb(16, 48, 77) !important;

}

.pr-img-card{
    height: 200px !important;

}

.container{
    padding-top: 30px;
    padding-bottom: 25px;
}
.card{
    transition: all .3s;
}

.card:hover{
    transform: scaleY(1.05);
}

.pr-card-title{
    font-size: 15px;
    font-weight: 900;
    color: rgb(151, 63, 36) !important;
    width: 100%;
    border-bottom: 1px solid rgb(151, 63, 36);
    padding: 5px 0px;
    margin: 10px 0px;
    margin-bottom: 20px !important;
}

.pr-card-text{
    color:rgba(255, 255, 255, .9);
    font-size: 12px;
    line-height: 22px;
}


.pr-button{
    color: rgb(151, 63, 36);
    text-decoration: none;
    font-size:13px ;
    text-transform: uppercase;

}

.pr-button:hover{
    color: rgb(167, 117, 102);
}

.btn-prev , .btn-bext{
    position: relative;
}

.button-left{
    position: absolute;
    left: 130px;
    padding: 10px 12px;
    color: black;
    border-radius: 30px;
    font-size: 20px;
    background-color: rgb(151, 63, 36);
}
.button-right{
    position: absolute;
    right: 130px;
    padding: 10px 12px;
    color: black;
    border-radius: 30px;
    font-size: 20px;
    background-color: rgb(151, 63, 36);
}

.button-right:hover{
    color:white;
}
.button-left:hover{
    color: white;
}

/*main end*/

@media (min-width: 1200px) and (max-width: 1400px) {
    .navbar-nav .nav-link {
      font-size: 15px; 
      font-weight: bold;
    }
  }
@media (min-width: 993px) and (max-width: 1200px) {
    .navbar-nav .nav-link {
      font-size: 13px; 
      font-weight: bold;
    }
  }

@media (max-width: 993px) {
    .pr-header {
        height: auto;
        padding-bottom: 100px;
    }
    .pr-heading-product{
        padding-top: 20px;
    }
    .pr-product-category {
        padding-top: 80px;
    }
    .pr-card-text {
        font-size: 13px;
        line-height: 18px;
        font-weight: bold;
    }
    .pr-main{
        padding-bottom: 750px;
    }
}
@media (max-width:1637px) {
    .button-left{
        position: absolute;
        left: 50px;
        padding: 10px 12px;
    }
}
@media (max-width:1637px) {
    .button-right{
        position: absolute;
        right: 50px;
        padding: 10px 12px;
    }
}

@media (max-width:235px) {
    .pr-heading-product{
        margin-top: 300px;
    }
}

@media (max-width:770px) {
    .pr-main{
        padding-top: 550px;
    }
}

@media (max-width:553px) {
    .pr-main{
        padding-top:600px ;
    }
}
@media (max-width:447px) {
    .pr-main{
        padding-top: 450px;
    }
}
@media (max-width:600px) {
    .pr-butonat .btn-prev,
    .pr-butonat .btn-next {
        display: none;
    }
}